<div *ngIf="project">
  <div [hidden]="submitted">
    <h1>Update Project</h1>
    <app-project-form [project]="project" [action]="'update'"></app-project-form>
  </div>

  <hr/>

  <h4>Supplemental Resources</h4>

  <app-view-asset *ngFor="let asset of project.supplementalResources" [project_id]="project._id" [asset]="asset" [assetType]="'supplementalResource'"></app-view-asset>
  <app-create-asset class="row card" [project_id]="project._id" [assetType]="'supplementalResource'"></app-create-asset>

</div>
