<div *ngIf="project">
  <div [hidden]="submitted">
    <h1>Update Project</h1>
    <app-project-form [project]="project" [action]="'update'"></app-project-form>
  </div>

  <hr/>

  <div *ngIf="project._id" class="mb-5">
    <h4>Supplemental Resources</h4>

    <app-view-asset *ngFor="let asset of project.supplementalResources" [project_id]="project._id" [asset]="asset" [assetType]="'supplementalResource'"></app-view-asset>
    <app-asset-form class="row card" [project_id]="project._id" [assetType]="'supplementalResource'"></app-asset-form>
  </div>

</div>
