<div *ngIf="user" class="row">
  <div class="col-2">
    <img [src]="user?.photo || 'assets/images/user-icon.svg'" class="img-fluid">
  </div>
  <div class="col-10">
    <div class="row">
      <h4>{{user?.name}}</h4>
    </div>

    <app-view-user-student *ngIf="user?.userType === 'student'" [user]="user"></app-view-user-student>
    <app-view-user-liaison *ngIf="user?.userType === 'business'" [user]="user"></app-view-user-liaison>

    <div *ngIf="user?.about"
         class="row">
      <div class="col-3 text-right">
        <strong>About Me</strong>
      </div>
      <div class="col-9 mb-3">
        {{user?.about}}
      </div>
    </div>

    <div *ngIf="user?.linkedin || user?.twitter || user?.website || user?.instagram" class="row">
      <div class="col-3 text-right">
        <p><strong>Links</strong></p>
      </div>
      <div class="col-9">
        <a *ngIf="user?.linkedin" href="{{ user?.linkedin }}" target="_blank" class="mx-1 social-link">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a *ngIf="user?.twitter" href="{{ user?.twitter }}" target="_blank" class="mx-1 social-link">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a *ngIf="user?.instagram" href="{{ user?.instagram }}" target="_blank" class="mx-1 social-link">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a *ngIf="user?.website" href="{{ user?.website }}" target="_blank" class="mx-1 social-link">
          <span class="small">Personal Website</span>
        </a>
      </div>
    </div>
  </div>
</div>
