<h1>
  {{project?.title}}
</h1>
<h3>{{project?.organization.name}}</h3>
<p>{{project?.summary}}</p>

<div *ngIf="user && project">

  <div *ngIf="user?.userType === 'business' && user?._id === project?.liaison._id">

    <button
      class="btn btn-primary"
      routerLink="update"
    >
      Update Project
    </button>

    <hr/>

    <app-list-entries [entries]="project.entries"></app-list-entries>

  </div>


  <div *ngIf="user?.userType === 'student'">

    <button
      class="btn btn-primary"
      *ngIf="!studentIsRegisteredForProject()"
      (click)="projectSignup()"
    >
      Sign up for Project
    </button>

    <div *ngIf="studentIsRegisteredForProject()">
      <p><a routerLink="/projects/{{project._id}}/entries/{{user._id}}">Submit to Project</a> </p>
      <button
        class="btn btn-danger"
        (click)="projectSignoff()"
      >
        Sign off of Project
      </button>
    </div>

  </div>

</div>
