<h2>
  {{project?.title}} <span class="badge badge-info ml-5">{{project?.category}}</span>
</h2>
<h5>Project Summary</h5>
<p>{{project?.summary}}</p>
<h5>Full Details</h5>
<p>{{project?.fullDescription}}</p>

<hr/>

<h5>About {{project?.organization.name}}</h5>
<p>{{project?.organization.about}}</p>

<hr/>

<div class="row">

  <div class="col-md-3">
    <h5>Project Specs</h5>
  </div>
  <div class="col-md-9">
    <ul>
      <li *ngFor="let spec of project?.specs">{{spec}}</li>
    </ul>
  </div>

  <div class="col-md-4">
    <h5>Deliverables</h5>
  </div>
  <div class="col-md-8">
    <ul>
      <li *ngFor="let deliverable of project?.deliverables">
        <p>{{deliverable.name}} <span class="badge badge-info">{{deliverable.mediaType}}</span> </p>
      </li>
    </ul>
  </div>

  <div class="col-md-3">
    <h5>Deadline</h5>
  </div>
  <div class="col-md-9">
    <p>{{project?.deadline || "None"}}</p>
  </div>

  <hr/>

  <h5>Supplemental Resources</h5>
  <ul>
    <li *ngFor="let supplementalResource of project?.supplementalResources">
      <p>{{supplementalResource.name}}</p>
    </li>
  </ul>

</div>

<hr/>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <h4>Project discussion board</h4>
    <div [hidden]="!showComments">
      <p style="cursor: pointer" class="text-center comment-toggle" (click)="showComments = ! showComments">
        Hide comments
        <fa-icon [icon]="faCaretUp"></fa-icon>
      </p>
      <app-view-comment *ngFor="let comment of project?.comments"
                        [parentUrl]="router.url" [comment]="comment"></app-view-comment>
      <app-create-comment [parentUrl]="router.url"></app-create-comment>
      <p style="cursor: pointer" class="text-center comment-toggle" (click)="showComments = ! showComments">
        Hide comments
        <fa-icon [icon]="faCaretUp"></fa-icon>
      </p>
    </div>
    <div [hidden]="showComments" class="text-center text-muted comment-toggle">
      <p style="cursor: pointer" (click)="showComments = ! showComments">
        View {{project?.comments?.length}} comment<span *ngIf="project?.comments.length != 1">s</span>
        <fa-icon [icon]="faCaretDown"></fa-icon>
      </p>
    </div>
  </div>
</div>
