<div *ngIf="!user">
  <app-loading></app-loading>
</div>
<div *ngIf="user">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div class="row">
    <div class="col-11 mx-auto pb-4">
      <h4>
        Hello {{user?.name}}!
      </h4>
      <app-dashboard-home-content-student *ngIf="user?.userType === 'student'"></app-dashboard-home-content-student>
      <app-dashboard-home-content-liaison
        *ngIf="user?.userType === 'business'"
        [user]="user"
        [activeProjects]="activeProjects"
        [profileIsComplete]="profileIsComplete">
      </app-dashboard-home-content-liaison>
    </div>

  </div>

  <hr/>

  <h2>Projects</h2>
  <div class="row">
    <div class="col-md-5 mx-auto card">
      <div class="card-body">
        <h4>Active Projects</h4>
        <p *ngIf="activeProjects?.length === 0">
          You have no active projects
        </p>
        <div *ngFor="let project of activeProjects" routerLink="/workbench/projects/{{project._id}}">
          <app-list-projects-small-student
            *ngIf="user.userType === 'student'"
            [project]="project" [user]="user">
          </app-list-projects-small-student>
          <app-list-projects-small-liaison
            *ngIf="user.userType === 'business'"
            [project]="project" [user]="user">
          </app-list-projects-small-liaison>
        </div>
      </div>
    </div>
    <div class="col-md-5 mx-auto card">
      <div class="card-body">
        <h4>Completed Projects</h4>
        <p *ngIf="completedProjects?.length === 0">
          You haven't yet completed any projects
        </p>
        <div *ngFor="let project of completedProjects">
          <app-list-projects-small-student
            *ngIf="user.userType === 'student'"
            [project]="project" [user]="user">
          </app-list-projects-small-student>
          <app-list-projects-small-liaison
            *ngIf="user.userType === 'business'"
            [project]="project" [user]="user">
          </app-list-projects-small-liaison>
        </div>
        <p class="small text-muted pt-2 text-center" *ngIf="user?.userType === 'student'">
          After a project has been marked complete by the project liaison, it can be managed in your <a routerLink="/users/{{user._id}}/portfolio">Portfolio</a>
        </p>
      </div>
    </div>
  </div>
</div>

