<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<div class="row">
  <div class="col-11 mx-auto pb-4">
    <h4>
      Hello {{user?.name}}!
    </h4>
    <div *ngIf="profileIsComplete">
      <app-dashboard-home-content-student *ngIf="user?.userType === 'student'"></app-dashboard-home-content-student>
      <app-dashboard-home-content-liaison *ngIf="user?.userType === 'business'"></app-dashboard-home-content-liaison>
    </div>
    <div *ngIf="user && !profileIsComplete">
      Your profile is almost complete. Follow these steps to start working on projects:
      <ol>
        <li class="alert alert-warning border rounded">
          <app-account-setup-organization></app-account-setup-organization>
        </li>
      </ol>
    </div>
  </div>

</div>

<hr/>

<h2>Projects</h2>
<div class="row">
  <div class="col-md-5 mx-auto card">
    <div class="card-body">
      <h4>Active Projects</h4>
      <p *ngIf="activeProjects?.length === 0">
        You have no active projects
      </p>
      <ul>
        <li *ngFor="let project of activeProjects" class="row">
          <a routerLink="/workbench/projects/{{project._id}}">{{project.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-5 mx-auto card">
    <div class="card-body">
      <h4>Completed Projects</h4>
      <p class="small text-muted" *ngIf="user?.userType === 'student'">
        These can be managed in your <a routerLink="/users/{{user._id}}/portfolio">Portfolio</a>
      </p>
      <ul>
        <li *ngFor="let project of completedProjects" class="row">
          <a routerLink="/users/{{user?._id}}/portfolio/update">{{project.title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3 pt-3 mx-auto">
    <button *ngIf="userService.authenticatedUser?.userType === 'business' && userService.authenticatedUser?.organization && activeProjects?.length < 3"
            class="btn btn-info mx-auto btn-sm form-control"
            routerLink="/projects/create">
      Post a project
    </button>
  </div>
</div>
