<div class="row">
  <div class="col-2">
    <img [src]="organization?.logo || 'assets/images/building.svg'" class="img-fluid">
  </div>
  <div class="col-10">
    <div class="row">
      <h4>{{organization?.name}}</h4>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="organization?.industry">
        <p><strong>Industry:</strong> {{organization.industry}}</p>
      </div>
      <div class="col-12" *ngIf="organization?.about">
        <p><strong>About the Organization</strong><br/>{{organization.about}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <a *ngIf="organization?.linkedin" href="{{ organization?.linkedin }}" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a *ngIf="organization?.twitter" href="{{ organization?.twitter }}" target="_blank">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a *ngIf="organization?.domain" href="https://{{ organization?.domain }}" target="_blank">
          <span class="small">Company Website</span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 text-center">
    <a class="btn btn-info"
       routerLink="update"
       *ngIf="showUpdateButton"
    >
      Update organization
    </a>
    <hr/>
  </div>

  <div class="col-10 mx-auto">
    <h4>Members of this Organization</h4>
      <div class="card"
           style="width: 8rem; cursor: pointer"
           *ngFor="let liaison of organization?.liaisons"
           routerLink="/users/{{liaison._id}}">
        <div class="card-body">
          <img [src]="liaison.photo || 'assets/images/user-icon.svg'" class="card-img-top">
          <div class="small card-text text-center">
            <div
              *ngIf="userService.authenticatedUser && userService.authenticatedUser?._id != liaison._id">
              <p>
                <strong>{{liaison.name}}</strong>
                <br/>
                {{liaison.position}}
              </p>
            </div>
            <div *ngIf="userService.authenticatedUser?._id == liaison._id">
              <span class="badge badge-success">You</span>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
