<div class="row">

  <div class="col-md-8 offset-md-2 card">

    <div class="card-body">

      <div *ngIf="!studentIsRegisteredForProject">

        <button class="btn btn-primary" (click)="projectSignup()">Sign up for Project</button>

      </div>

      <div *ngIf="studentIsRegisteredForProject">
        <h5 class="card-title">You are currently signed up for this project.</h5>
        <p class="text-center">
          <a routerLink="/projects/{{project_id}}/entries/{{user_id}}">Go to your project submission in progress</a>
        </p>

        <div class="text-right">
          <button class="btn btn-danger btn-sm" (click)="projectSignoff()">Sign off of Project</button>
        </div>

      </div>

    </div>

  </div>

</div>
