<form [formGroup]="projectForm">

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="title">Project Title</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="title"
             formControlName="title"
      >
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="summary">Project Summary</label>
    </div>
    <div class="col-md-9">
      <textarea class="form-control" id="summary" rows="3"
                formControlName="summary"
      ></textarea>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="summary">Full Description</label>
    </div>
    <div class="col-md-9">
      <textarea class="form-control" id="fullDescription" rows="6"
                formControlName="fullDescription"
      ></textarea>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="category">Project Category</label>
    </div>
    <div class="col-md-3">
      <select class="form-control" id="category"
                formControlName="category"
      >
        <option value=""></option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="specs">Project Specifications</label>
      <p class="small text-muted">
        Lorem Ipsum
      </p>
    </div>
    <div class="col-md-9" formArrayName="specs">
      <div class="row mb-2" id="specs" *ngFor="let spec of specs.controls; let i=index">
        <div class="col-10">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <div class="col-2 text-right">
          <button *ngIf="i == specs.length - 1 && spec.value !== ''" class="btn btn-sm ml-auto btn-info" (click)="addSpec()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <button *ngIf="specs.length != 1" class="btn btn-sm mr-auto btn-danger" (click)="removeSpec(i)">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="deliverables">Deliverables</label>
    </div>
    <div class="col-md-9" formArrayName="deliverables">
      <div class="row mb-2" id="deliverables" *ngFor="let deliverable of deliverables.controls; let i=index">
        <div class="col-10">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <div class="col-2 text-right">
          <button *ngIf="i == deliverables.length - 1 && deliverable.value !== ''" class="btn btn-sm ml-auto btn-info" (click)="addDeliverable()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <button *ngIf="deliverables.length != 1" class="btn btn-sm mr-auto btn-danger" (click)="removeDeliverable(i)">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-4">
    <div class="col-md-3 text-right">
      <label for="deadline">Deadline</label>
    </div>
    <div class="col-md-3">
      <input type="date" class="form-control" id="deadline"
             formControlName="deadline"
      >
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-3 mx-auto">
      <button class="btn btn-success form-control">Save</button>
    </div>
  </div>
</form>
