<div *ngIf="user && !profileIsComplete">
  Your profile is almost complete. Please complete the following to start working on projects:
  <ul>
    <li class="alert alert-warning border rounded">
      <app-account-setup-organization></app-account-setup-organization>
    </li>
  </ul>
</div>
<div *ngIf="user && profileIsComplete">
  <div class="col-md-6 col-lg-3 pt-3 mx-auto">
    <button *ngIf="user?.userType === 'business' && user?.organization && activeProjects?.length < 3"
            class="btn btn-info mx-auto btn-sm form-control"
            routerLink="/projects/create">
      Post a project
    </button>
  </div>
</div>
