<div class="leader">

  <div class="row">
    <h1 class="border-bottom">About Scholance</h1>
  </div>

  <div class="row mb-2">
    <p class="lead text-muted">
      End the experience gap with open educational freelancing
    </p>
    <div class="col-12">
      <p>
        There's a big problem when an "entry-level" job requires 3 years prior experience. Scholance is here to fix
        that.
      </p>
      <p>
        Scholance allows businesses, non-profits, and governmental organizations to post real-world projects for students
        to be able to work on for their portfolios. When a project is complete, the business can select the best of all
        the entries and use it. And regardless of whether a student is selected or not, they can still use the completed
        work for their portfolio.
      </p>
    </div>
  </div>

  <div class="row">
    <p class="lead text-muted">
      Non-zero-sum mentality
    </p>
    <div class="col-12">
      <p>
        Internships and traditional freelancing pose a significant barrier of entry to anyone getting started business.
        Students and recent graduates are assumed to have a face-value of zero or close to it. They are still forced
        though to take such deflated opportunities in order to build enough experience to prove their value.
      </p>
    </div>
  </div>

</div>

<hr class="mt-5"/>

<div>
  <h4>Questions? Comments? Finding any issues with the site?</h4>
  <p class="ml-4">Please contact <a href="mailto:chris@scholance.com?Subject=Contact%20support">chris@scholance.com</a></p>
</div>

<div class="row mt-5 pt-5">
  <div class="col-md-6 mx-auto">
    <p class="small text-center">
      &#169; 2017 Scholance
    </p>
  </div>
</div>
