<div class="m-3">
  <h3>Project Signup Agreement</h3>
  <p>
    You're almost ready to get started on this project! Please just review a few basic ground rules for the content
    you submit for this:
  </p>
  <ul>
    <li>
      <strong>The work you submit must be your own.</strong>
    </li>
    <li>
      <strong>Any third-party content (such as stock photos, typography, etc.) must be open-licence. Or explicitly
      stated otherwise.</strong>
    </li>
    <li>
      <strong>If the organization selects this implementation, they will have full and exclusive access to it.</strong>
      You will still have full access to display it on your portfolio, but you should not submit the same submission
      to another project for another organization's project.
    </li>
  </ul>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-info mx-2" (click)="activeModal.close('agree')">Looks great! Let's get started!</button>
      <button class="btn btn-warning mx-2" (click)="activeModal.dismiss('cancel')">Hold on a sec</button>
    </div>
  </div>
</div>
