<div [hidden]="submitted">
  <h1>Organization</h1>
  <form (ngSubmit)="onSubmit()" #organizationForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="organization.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="domain">Domain</label>
      <input type="domain" class="form-control" id="domain"
             [(ngModel)]="organization.domain" name="domain">
    </div>

    <button (click)="update()" class="btn btn-success" [disabled]="!organizationForm.form.valid">Submit</button>
  </form>
</div>


<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ organization.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Domain</div>
    <div class="col-xs-9 pull-left">{{ organization.domain }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
