<div class="container-fluid">
  <div class="row">
    <app-workbench-sidebar class="d-md-block"
                           [project]="project"
                           [ngClass]="{'d-none': sidebarCollapsed}">
    </app-workbench-sidebar>

    <div class="col-md-9 col-lg-10 px-4 offset-md-3 offset-lg-2" [ngClass] = "{'offset-4': !sidebarCollapsed}">

      <button class="d-md-none btn btn-sm btn-outline-dark" (click)="toggleSidebarCollapsed()">
        <fa-icon [icon]="faChevronLeft" *ngIf="!sidebarCollapsed"></fa-icon>
        <fa-icon [icon]="faChevronRight" *ngIf="sidebarCollapsed"></fa-icon>
      </button>

      <main role="main">
        <h1>Project Workbench</h1>
        <hr/>
        <app-messages></app-messages>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
