<div class="modal-header">
  <h2 class="modal-title">Terms of Service</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <h3>For Students</h3>
  <ul>
    <li>
      I will not submit content other than that which I have permission to and that the host organization will
      have permission to use for their commercial use.
    </li>
    <li>
      I will fully disclose any licence, permissions, or usage restrictions on any content I submit.
    </li>
  </ul>

  <h3>For Businesses</h3>
  <ul>
    <li>
      I acknowledge that I am a current employee and have the authority to represent the company or organization
      I am posting through.
    </li>
    <li>
      Any work submitted by a student for a project that I post is fully theirs to display on their public portfolio,
      unless explicit restrictions on brand usage are defined in the project.
    </li>
    <li>
      I will not solicit services from students outside of the strict project scopes
    </li>
  </ul>

  <h3>For All</h3>
  <ul>
    <li>
      Accounts may be suspended at any time if deemed to not provide mutual benefit to student and host organization,
      or to not align with the mission of Scholance.
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
