<div *ngIf="user?.organization">
  <div class="row mb-3">

    <div class="col-6 col-md-3 text-right">
      <strong>Organization</strong>
    </div>

    <div class="col-6 col-md-9">
      <a routerLink="/organizations/{{user?.organization._id}}">{{user?.organization.name}}</a>
    </div>

  </div>

  <div class="row mb-3">

    <div class="col-6 col-md-3 text-right">
      <strong *ngIf="user?.position">Position</strong>
    </div>
    <div class="col-6 col-md-9">
      <p *ngIf="user?.position">{{user?.position}}</p>
    </div>
  </div>
</div>
