<app-view-user></app-view-user>

<hr/>

<div *ngIf="user?._id === userService.authenticatedUser?._id"
     class="row text-center">
  <div class="col-3 mx-auto">
    <button class="btn btn-info" routerLink="/users/{{user?._id}}/portfolio/update">Update Portfolio</button>
  </div>
</div>

<h3>Completed Projects</h3>
<div *ngFor="let completedProject of portfolioEntries">
  <div *ngIf="completedProject.visible" class="row border rounded p-4 mb-4">
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          <h5>{{completedProject.project.title}}</h5>
          <p>{{completedProject.project.organization.name}}</p>
        </div>
      </div>
      <hr/>
    </div>
    <div class="col-12">
      <div class="row">
        <div *ngIf="completedProject.project.commentary"
             class="col-12">
          <h5>About my submission</h5>
          <p>{{completedProject.project.commentary}}</p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-12">
          <h5>Deliverables</h5>
        </div>
        <div class="col-3 card m-3" *ngFor="let asset of completedProject.submission.assets">
          <div class="card-body">
            <div class="card-title">
              <h6>{{asset.name}}</h6>
            </div>
            <p class="card-text" *ngIf="asset.mediaType === 'text'">{{asset.text}}</p>
          </div>
          <img *ngIf="asset.mediaType === 'image'" class="card-img-bottom" [src]="asset.uri">
          <a target="_blank" [href]="'https://'+asset.uri">
            <img *ngIf="asset.mediaType === 'link'"  class="card-img-bottom" src="/assets/images/link.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
