<div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>Register</h2>

      <form #registerForm="ngForm">

        <div class="row border rounded mt-5 py-2">
          <div class="col-md-4">
            <div class="form-group">
              <label for="userType">User Type</label>
              <select [ngModel]="user.userType" #userType
                      name="user.userType" id="userType" class="form-control">
                <option [value]="">(select your account type)</option>
                <option [value]="'student'">Student</option>
                <option [value]="'business'">Business</option>
              </select>
            </div>
          </div>
          <div class="col-md-8" ngClass="{'organization-content': user.userType == 'business'}">
            <div *ngIf="userType.value == 'student'" class="student-content p-3 rounded">
              <h4>Student</h4>
              <p>
                Sign up with your <strong>.edu</strong> email address and...
              </p>
              <ul>
                <li>Sign up for projects</li>
                <li>Work on projects</li>
                <li>Use any project submission on your portfolio</li>
              </ul>
            </div>
            <div *ngIf="userType.value == 'business'" class="organization-content p-3 rounded">
              <h4>Business or Organization Liaison</h4>
              <p>
                Sign up with your <strong>company</strong> email address and...
              </p>
              <ul>
                <li>Post projects</li>
                <li>Manage projects</li>
                <li>Select projects for your business use</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="alert alert-danger mt-2" *ngIf="errors.length > 0">
          <p *ngFor="let error of errors">{{error}}</p>
        </div>

        <div *ngIf="userType.value != ''">
          <div class="form-group">
            <label for="name">Your Name</label>
            <input
              name="name"
              id="name"
              type="text"
              class="form-control"
              #name
              required
            >
          </div>

          <div class="form-group">
            <label for="email">{{ userType.value == 'student' ? 'Student' : 'Company' }} Email</label>
            <input
              name="email"
              id="email"
              type="email"
              class="form-control"
              #email
              placeholder="you@example.com"
              required
            >
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              name="password"
              id="password"
              type="password"
              class="form-control"
              #password
              placeholder="Enter your password"
              required
            >
          </div>

          <div class="form-group text-center">
            <div class="form-check">
              <input
                name="terms-of-service"
                id="terms-of-service"
                type="checkbox"
                class="form-check-input"
                [value]="acceptTermsOfService"
                (change)="acceptTermsOfService = !acceptTermsOfService"
                required
              >
              <label class="form-check-label" for="terms-of-service">
                I agree to the <span class="link" (click)="openTermsOfService()">Terms of Service</span>
              </label>

            </div>
          </div>

          <div class="row text-center">
            <div class="col-sm-6 offset-3 text-center">
              <br/>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!(acceptTermsOfService && name.value && email.value && password.value)"
                (click)="signup(name.value, email.value, password.value, userType.value)">
                Register
              </button>
            </div>
          </div>

        </div>

      </form>

    </div>
  </div>
</div>
