<div *ngIf="userService.authenticatedUser">
  <div [hidden]="submitted">
    <h3>Update my Profile</h3>
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-md-2">
          <img [src]="userService.authenticatedUser?.photo || 'assets/images/user-icon.png'" class="img-fluid">
        </div>
        <div class="col-md-10">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" id="name">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" [attr.disabled]="true">
          </div>

          <div class="form-group">
            <label for="about">About Me</label>
            <textarea class="form-control" formControlName="about" id="about"></textarea>
          </div>

          <!-- Liaison-only fields -->
          <div class="form-group" *ngIf="userService.authenticatedUser?.userType === 'business'">
            <label for="position">Position</label>
            <input type="text" class="form-control" formControlName="position" id="position">
          </div>

          <!-- Student-only fields -->
          <div *ngIf="userService.authenticatedUser?.userType === 'student'">
            <div class="form-group">
              <label for="school">School</label>
              <input type="text" class="form-control" formControlName="school" id="school">

              <br/>

              <label for="academicFocus">Academic Focus</label>
              <input type="text" class="form-control" formControlName="academicFocus" id="academicFocus">

              <br/>

              <label for="interests">Academic &amp; Professional Interests</label>
              <input type="text" class="form-control" formControlName="interests" id="interests">
            </div>
          </div>

          <h4 class="mt-5">Links</h4>

          <div class="form-group">
            <div class="row">
              <div class="col-1 text-right">
                <label for="linkedin" class="icon"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></label>
              </div>
              <div class="col-11">
                <input type="text" class="form-control" formControlName="linkedin" id="linkedin">
              </div>
            </div>
            <div *ngIf="userService.authenticatedUser?.userType === 'student'">
              <div class="row">
                <div class="col-1 text-right">
                  <label for="twitter" class="icon"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></label>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control" formControlName="twitter" id="twitter">
                </div>
              </div>

              <div class="row">
                <div class="col-1 text-right">
                  <label for="instagram" class="icon"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></label>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control" formControlName="instagram" id="instagram">
                </div>
              </div>

              <div class="row">
                <div class="col-1 text-right">
                  <label for="website" class="small">Personal Website</label>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control" formControlName="website" id="website">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 text-center">
        <button (click)="update()" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
