<app-view-project></app-view-project>

<div *ngIf="user && project">

  <div *ngIf="user?.userType === 'business' && user?._id === project?.liaison._id">

    <button
      class="btn btn-primary"
      routerLink="update"
    >
      Update Project
    </button>

    <p class="text-center">Project status: {{project.status}}</p>

    <hr/>

    <app-list-entries [entries]="project.entries"></app-list-entries>

  </div>


  <app-student-project-toolbar
    *ngIf="user?.userType === 'student'"
    [studentIsRegisteredForProject]="studentIsRegisteredForProject()" [project_id]="project._id" [user_id]="user._id">
  </app-student-project-toolbar>

</div>
