<div class="row">
  <div class="col-md-3">
    <h5>{{asset.name}}</h5>
    <div>
      <a *ngIf="asset.mediaType === 'image'" [href]="asset.uri" target="_blank">
        <img class="img-fluid" [src]="asset.uri">
      </a>
      <a *ngIf="asset.mediaType === 'link'" [href]="'https://'+asset.uri" target="_blank">
        <fa-icon [icon]="faLink" ></fa-icon>
      </a>
    </div>
  </div>
  <div class="col-md-8" *ngIf="asset.text">
    <p><strong>About this item</strong></p>
    {{asset.text}}
  </div>
</div>
