<h2>Portfolio</h2>
<p>
  This is how your public portfolio will look to the outside world. You can share this with peers, colleagues and
  prospective employers at
  <a [href]="'/users/'+userService.authenticatedUser?._id+'/portfolio'" target="_blank"> this link</a>.
</p>
<p>
  If you would like to update the ordering, or set certain projects as publicly or non-publicly viewable, click the
  button below
</p>
<div class="card my-4">
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
