<div *ngIf="comment">
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">{{comment?.author.name}}</h5>
      <p class="card-text">{{comment?.text}}</p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-3">
          {{getTime(comment?._id) | date:"M/dd/yy | h:mm a"}}
        </div>
        <div class="col-6 ml-auto text-right"
             *ngIf="comment?.author._id === userService.authenticatedUser?._id" >
          <button class="btn btn-danger" (click)="deleteComment()">Delete Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
