<div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2>Forgot Password?</h2>

      <form>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            #email
            id="email"
            placeholder="you@example.com">
        </div>

      </form>

    </div>

  </div>

  <div class="row text-center">
    <div class="col-sm-6 mx-auto text-center">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="auth.resetPassword(email.value)"
      >
        Send email with new temporary password
      </button>
    </div>
  </div>
</div>
