<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/profile" routerLinkActive="active">
          <fa-icon [icon]="faUser"></fa-icon>
          Profile
        </a>
      </li>
      <li *ngIf="userService.authenticatedUser?.userType === 'business'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard/organization" routerLinkActive="active">
          <fa-icon [icon]="faUser"></fa-icon>
          My Organization
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>My Projects</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
  </div>
</nav>
