<div class="row border border-light bg-light project rounded m-3">
  <div class="col-12 pt-2 no-border">
    <div *ngIf="project.status === 'active'">
      <h5>
        {{project.title}}
      </h5>
      <p class="small">
        <strong>Project Status: </strong>{{project.status}}
      </p>
      <p *ngIf="project.deadline">
        <strong>Deadline: </strong>{{project.deadline}}
      </p>
      <hr/>
      <h6>Entries</h6>
      <ul class="small">
        <li>
          <strong>Active Registrants: </strong> {{numActiveRegistrants}}
        </li>
        <li>
          <strong>Drafts ready for review: </strong> {{numDrafts}}
        </li>
        <li>
          <strong>Final Submissions: </strong> {{numSubmissions}}
        </li>
      </ul>
    </div>

    <div *ngIf="project.status === 'complete'" routerLink="/workbench/projects/{{project._id}}/submissions">
      <h5>
        {{project.title}}
      </h5>
    </div>
  </div>
</div>
