<div class="m-3">
  <h3>Project Posting Agreement</h3>
  <p>
    You're almost ready to get started on this project! Please just review a few basic ground rules for the content
    you submit for this:
  </p>
  <ul>
    <li>
      <strong>Any student who submits to this project will be able to display that submission on their portfolio.</strong>
    </li>
  </ul>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-info" (click)="activeModal.close('agree')">Looks great! Let's get started!</button>
      <button class="btn btn-warning" (click)="activeModal.dismiss('cancel')">Hold on a sec</button>
    </div>
  </div>
</div>

