<form [formGroup]="linkInputForm">
  <div class="row text-center">
    <div class="col-5 offset-1 text-left">
      <label for="name">Deliverable Name</label>
      <input type="text" class="form-control" id="name" formControlName="name"/>
    </div>
    <div class="col-5 text-left">
      <label for="uri">URL</label>
      <input type="text" class="form-control" id="uri" formControlName="uri"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <label for="text">Comments on this Link</label>
      <textarea class="form-control" id="text" formControlName="text"></textarea>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="uploadLinkAsset()">Upload</button>
    </div>
  </div>
</form>
