<div class="row">
  <div class="col-3 text-right">
    <p><strong>School</strong></p>
  </div>
  <div class="col-9">
    {{user?.school}}
  </div>
</div>
<div *ngIf="user?.academicFocus"
     class="row">
  <div class="col-3 text-right">
    <p><strong>Academic Focus</strong></p>
  </div>
  <div class="col-9">
    {{user?.academicFocus}}
  </div>
</div>
<div *ngIf="user?.interests"
     class="row align-items-center">
  <div class="col-3 text-right">
    <p><strong>Academic &amp; Professional Interests</strong></p>
  </div>
  <div class="col-9">
    {{user?.interests}}
  </div>
</div>
