<nav class="col-4 col-md-2 bg-light sidebar">
  <div class="sidebar-sticky">

    <div class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 border-bottom">
      <h6 class="active">
        <span class="small">Project Workbench for</span><br/><span class="text-muted">{{project?.title}}</span>
      </h6>
    </div>

    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" routerLink="/workbench/projects/{{project?._id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Project Overview
        </a>
      </li>

      <div *ngIf="userService.authenticatedUser?.userType === 'student'">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/workbench/projects/{{project?._id}}/submission"
             routerLinkActive="active">
            My Submission
          </a>
        </li>
      </div>

      <li class="nav-item">
        <a class="nav-link" routerLink="/workbench/projects/{{project?._id}}/discussion-board" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Discussion Board
        </a>
      </li>

      <div *ngIf="userService.authenticatedUser?.userType === 'business'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/workbench/projects/{{project?._id}}/submissions" routerLinkActive="active">
            Project Submissions
          </a>
        </li>
        <li *ngIf="project?.status === 'active'" class="border-top nav-item pt-3 px-4">
          <button class="btn btn-info mx-auto btn-sm form-control" routerLink="/projects/{{project?._id}}/update">
            Update Project
          </button>
        </li>
        <li *ngIf="project?.status === 'active'" class="nav-item pt-3 px-4">
          <button class="btn btn-danger mx-auto btn-sm form-control" (click)="openDeleteProjectConfirmation()">
            Delete Project
          </button>
        </li>
      </div>

    </ul>
  </div>
</nav>
