<div class="container-fluid">
  <div class="row">
    <app-dashboard-sidebar class="d-md-block"
                           [ngClass]="{'d-none': sidebarCollapsed}">

    </app-dashboard-sidebar>

    <main role="main"
          class="col-md-9 col-lg-10 px-4 offset-md-2"
          [ngClass] = "{'offset-4': !sidebarCollapsed}"
    >
      <button class="d-md-none btn btn-sm btn-outline-dark" (click)="toggleSidebarCollapsed()">
        <fa-icon [icon]="faChevronLeft" *ngIf="!sidebarCollapsed"></fa-icon>
        <fa-icon [icon]="faChevronRight" *ngIf="sidebarCollapsed"></fa-icon>
      </button>
      <app-messages></app-messages>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
