.jumbotron {
  margin-top: -30px;
  height: 420px;
  background: url(/assets/images/homepage-jumbotron.svg) no-repeat center top;
  background-size: cover;
}

main {
  margin-bottom: 10rem;
}

.student-text {
  color: #aa7a00;
}

.organization-text {
  color: #00669D;
}

.student-content {
  background-color: #FFF5DC;
}

.organization-content {
  background-color: #EEFBFF;
}
