<h3 class="mb-4" *ngIf="entry">
  {{ entry?.student._id == userService.authenticatedUser._id ? 'My Project Submission' : 'Project Submission for: '+entry?.student.name }}
</h3>

<div class="row" *ngIf="entry?.commentary">
  <div class="col-10 mx-auto">
    <h5>Commentary about this submission</h5>
    <p>{{entry.commentary}}</p>
  </div>
</div>

<div class="row">
  <div class="col-10 mx-auto">
    <h5>Attached Deliverables for this Project Entry</h5>
    <p *ngIf="entry?.assets.length === 0">There are currently no assets for this Project Submission</p>
    <div *ngFor="let asset of entry?.assets; let i = index" class="row border rounded my-2 p-3">
      <div class="col-10">
        <app-view-asset [project_id]="project_id" [asset]="asset" [assetType]="assetType"></app-view-asset>
      </div>
      <div class="col-2">
        <button *ngIf="userService.authenticatedUser._id === entry.student._id && entry?.submissionStatus !== 'submitted'"
                (click)="deleteAsset(assetType, project_id, asset._id, i)"
                class="btn btn-sm btn-danger form-control">Delete</button>
      </div>
    </div>
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <p *ngIf="project?.selectedEntry === entry?.student._id" class="badge badge-success">This entry was selected!</p>
  </div>
</div>

<hr/>

<div *ngIf="entry" class="row">
  <div class="col-10 mx-auto">
    <app-liaison-entry-work-area *ngIf="userService.authenticatedUser?._id === project?.liaison._id"
                                 [project]="project"
                                 [entry]="entry"></app-liaison-entry-work-area>
    <app-student-entry-work-area *ngIf="userService.authenticatedUser?._id === entry?.student._id && entry?.submissionStatus !== 'submitted'"
                                 [project]="project"
                                 [entry]="entry"></app-student-entry-work-area>
  </div>
</div>


<hr class="my-5"/>

<div class="row">
  <div class="col-md-10 mx-auto">
    <h4>Comments on this project entry</h4>
    <div [hidden]="!showComments">
      <app-view-comment *ngFor="let comment of entry?.comments"
                        [commentType]="'entry'" [objectIds]="{project_id: project_id, entry_id: entry?.student._id}" [comment]="comment"></app-view-comment>
      <p class="text-center comment-toggle" (click)="showComments = ! showComments">Hide comments</p>
    </div>
    <div [hidden]="showComments" class="text-center text-muted comment-toggle">
      <p (click)="showComments = ! showComments">View {{entry?.comments?.length}} comments</p>
    </div>
    <app-create-comment [commentType]="'entry'" [objectIds]="{project_id: project_id, entry_id: entry?.student._id}"></app-create-comment>
  </div>
</div>
