<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <div class="alert alert-info" *ngIf="project?.status === 'complete' && project.selectedStudentId === entry.student._id">
      <p>To download assets for this submission, simply click on the image or link and save it to your computer.</p>
    </div>
    <div *ngIf="project?.status !== 'complete'">
      <p>Select this submission</p>
      <button class="btn btn-primary" (click)="openSelectEntryConfirmation()">Select this project submission</button>
    </div>
  </div>
</div>
