<div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2>Sign in</h2>

      <form>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            #email
            id="email"
            placeholder="you@example.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            #password
            placeholder="Enter your password">
        </div>

      </form>

    </div>
  </div>

  <p class="text-center">
    <a routerLink="/forgot-password">Forgot password?</a>
  </p>

  <div class="row text-center">
    <div class="col-sm-6 mx-auto text-center">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="auth.login(email.value, password.value)"
      >
        Log In
      </button>
    </div>
  </div>
</div>
